/* Inter google font import  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common style  */
.btn-primary {
    border: none;
    background: #1D4ED8;
    color: white;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;

}

.section-header {
    text-align: center;    
}

.section-header h1 {
    text-align: center;
    font-size: 2.5rem;
}

.section-header p {
    text-align: center;
    font-size: 1rem;
    color: #575757;
    margin-top: 0.8rem;
}



body {    
    max-width: 1200px;
    margin: 0 auto;
    background: #00000028; 
    font-family: "Inter", sans-serif;
}

/* Navbar Style  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 3rem;
    background: white;
}

.navbar .logo img {
    max-width: 7.5rem;
}

.navbar .nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .nav-items a { 
    text-decoration: none;
    color: #575757;
    font-size: 0.9rem;
    transition: all 0.3s;
}

.navbar .nav-items a:hover {     
    color: #1D4ED8;    
}

/* Banner section style  */
.banner {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url('../assets/banner.jpg');
    width: 100%;
    height: 37.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;     
}

.banner-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    color: white;
}

.banner-content h1 {
    font-size: 4rem;
    color: white;
}
.banner-content h1 span {
    font-style: italic;
}
.banner-content p {
    font-size: 1.1rem;
}

.banner-content .btn-primary {
    font-size: 1.3rem;
    margin-top: 4rem;
}

/* meet-the-speakers section style  */
.meet-the-speakers {
    margin: 4.5rem 0;
    padding: 0 1.25rem;
}

.speakers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
    margin-top: 3rem; 
}

.speaker-card {
    background: white;
    border-radius: 0.7rem;
    border: 1px solid #57575725;
    transition: all 0.3s;
}

.speaker-card:hover {
    border-color: #1d4fd877;
}

.speaker-card .speaker-photo {
    width: 100%;
    border-radius: 0.7rem 0.7rem 0 0;    
}

.speaker-card .speaker-details {
    padding: 1rem;
}

.speaker-card .speaker-details .category {
    color: #1D4ED8;
    font-weight: 600;
    font-size: 0.75rem;
}

.speaker-card .speaker-details .speaker-name {    
    font-weight: 800;
    font-size: 1.25rem;
    margin: 0.3rem 0;
}

.speaker-card .speaker-details .speaker-company {        
    font-size: 0.85rem;
    color: #575757; 
    margin-bottom: 0.5rem;
}

/* pricing-section style  */
.pricing-section {
    margin: 5rem 0;
    padding: 0 1.25rem;
}

.pricing-section .pricing-plan-container {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 3rem;
}

.pricing-plan-container .plan-card {
    padding: 2rem;
    background: white;
    border: 1px solid #E5E7EB;
    border-radius: 0.5rem;
}

.plan-card hr {
    border: none;
    height: 1px;
    background: #E5E7EB;
    margin: 1.5rem 0;
}

.plan-card .plan-card-header .plan-name {
    font-size: 0.81rem;
    color: #888888;
    font-weight: 700;
    text-transform: uppercase;
}

.plan-card .plan-card-header .plan-price {
    font-size: 3rem;
    color: #0D1B2A;
    margin: 0.2rem 0;
}

.plan-card .plan-card-header .plan-duration {
    font-size: 0.81rem;
    color: #888888;
}

.plan-card .plan-feature-list {
    font-size: 0.9rem;
    padding: 0 1rem;
    
}

.plan-card .plan-feature-list li {
    margin-bottom: 0.8rem;
    color: #333333;
}

.plan-card .plan-feature-list li::marker {
    color: #1D4ED8;
}

.plan-card .plan-card-bottom {
    margin-top: 1.8rem;
    
}

.plan-card .plan-card-bottom button {
    width: 100%;
    border: 2px solid #1D4ED8;
    color: #1D4ED8;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.8rem 0;
    cursor: pointer;
}

.pricing-plan-container #pro-plan-card {
    background: #0D1B2A;
    color: white;
}

#pro-plan-card .plan-card-header .plan-name {    
    color: #93C5FD;
}

#pro-plan-card .plan-card-header .plan-price {    
    color: white;
}

#pro-plan-card hr {
    background: #e5e7eb8e;
}

#pro-plan-card .plan-feature-list li {    
    color: white;
}

#pro-plan-card .plan-card-bottom button {    
    background: #1D4ED8;
    color: white;
}